.formContainer {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center; // centers items vertically
    justify-content: center; // centers items horizontally

    .formWrapper {
        background-color: #fff;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo {
            color: #5d5b8b;
            font-weight: bold;
            font-size: 24px;
        }

        .title {
            color: #5d5b8b;
            font-weight: bold;
            font-size: 15px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 15px;
                border: none;
                width: 250px;
                border-bottom: 1px solid #a7bcff;
                &::placeholder {
                    color: rgb(175, 175, 175);
                }
            }

            button {
                background-color: #7b96ec;
                color: #fff;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
        }

        p {
            color: #5d5b8b;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}